
<div class="enterpage" id="frontpage" style="z-index:200">
	<div class="leftarrow" style="width:20%"><%= link_to "#{image_tag('leftarrow.png')}".html_safe, :controller => :welcome, :action => "index" %>
	</div>
				
	<div class="aboutmedescription" style="text-align:center;margin-top:9em; color:aliceblue; font-size:25px;font-family:fantasy">Name: Brian Park<br>Age:29<br>		Birthdate: July 18th, 1986<br>Nationality: Korean-American<br>		Passion:Building beautiful and meaningful applications<br>			Basketball Fanatic
	</div>
	<div class="rightarrow" style="width:20%"><%= image_tag 'rightarrow' %>
	</div>
</div>
 
<div class="enterpage" id="aboutme2" style="">
	<div class="leftarrow" style="width:20%">
		<%= image_tag 'leftarrow' %>
	</div>
				
	<div class="aboutmedescription" style="text-align:center;margin-top:9em; color:aliceblue;font-family:fantasy;font-size:20px;">The ability to be able to create applications from scratch - that's what made me fall in love with code.<br>I first started to self teach myself during the summer of 2014. As I learned more and began to create applications from the back end all the way to front end, the realm of possibilities of what I can accomplish seemed endless. I was hooked. Soon after I decided that I needed to take the next step and accelerate my learning. That is when I chose to attend Dev Bootcamp<br><br>
	DBC is where I learned the necessary skills to call myself a full stack developer, learning various stacks of technology, and developed many applications on both the server side and front end, to be able to create meaningful and practical applications
	</div>
	<div class="rightarrow" style="width:20%"><%= image_tag 'rightarrow' %>
	</div>
</div>


<div class="enterpage" id="projects" style="z-index:-1">
	<div class="leftarrow" style="width:20%">
		<%= image_tag 'leftarrow' %>
	</div>
				
	<div class="aboutmedescription" style="text-align:center;margin-top:9em; color:aliceblue; font-size:25px;font-family:fantasy">
		Click to see list of projects
	</div>
	<div class="rightarrow" style="width:20%"><%= image_tag 'rightarrow' %>
	</div>
</div>


