<!DOCTYPE html>
<html>
<head>


  <!-- bootstrap cdn -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  

  <!-- google font -->

  <link  href="http://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css" >
  <link  href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css" >

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <!-- jquery UI -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

  <!-- google font -  Source Sans Pro -->
  
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<header>
  
  <nav class='navbar transparent navbar-inverse navbar-fixed-top'>
    <nav class="navbar-inner">
      <div class="container contact">
        <%= link_to 'Contact', contacts_path %>
        <%= link_to 'Blog', blogs_path %>
        <%= link_to 'Portfolio', portfolio_path %>
        <%= link_to 'Resume', resume_path %>
        <%= link_to 'Home', root_path , class: 'home'%>
      </div>
<!--  <div class='container' id='navigate'>
      <a href='https://twitter.com/br1anp4rk718'>
      <img src='http://youngist.org/images/icon-social-twitter.svg' class='icon' alt='twitter' style='width:30px;height:35px;'></a>
      <a href="mailto:br1anp4rk718@gmail.com"><img src='https://cdn0.iconfinder.com/data/icons/seo-smart-pack/128/grey_new_seo-15-512.png' class='icon' style='width:30px;height:35px;'></a>
      <a href='https://www.facebook.com/brian.park.319'><img src='http://moznostvolby.sk/wp-content/uploads/2014/05/facebook-icon-white.png' class='icon' style='width:30px;height:35px;'></a>
      <a href='https://github.com/br1anp4rk718'><img src='http://jeremyzander.com/images/github.png' class='icon' style='width:30px;height:35px;'></a>
      </div> -->
      </nav>
    </nav>

</header>



<body>

<%= yield %>

  <%= javascript_include_tag "texthover" %>
 <%= javascript_include_tag "slidescreen" %>
</body>
</html>
